@import url(assets\fonts\static\Inter-Bold.ttf);
body{
    background-color: #141414;
}
.whole{
    background-color: #1F1F1F;
    height: 940px;
    width: 500px;
    margin: auto;
    margin-top: 156px;
    border: none;
    border-radius: 20px;
}
.human{
    border: none;
    border-radius: 50%;
    margin-left: 180px;
    margin-top: 50px;
    height: 150px;
    width: 150px;
}
.headtext{
    color: white;
    margin-left: 140px;
    font-weight: lighter;
    font-size: 38px;
    font-family: Inter-Bold;
}
.location{
    color: #CFEF6A;
    margin-left: 154px;
    font-size: 20px;
}
.smalltxt{
    color: #E0E0E0;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 30px;
}
.button{
    color: white;
    background-color: #333333;
    height: 70px;
    width: 400px;
    margin-left: 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: background-color;
}
.button:hover{
    background-color: #C4F82A;
    color: black;
    cursor: pointer;
    transition: 0.4s;
}
.button:active{
    background-color: hsl(75, 94%, 67%);
    color: black;
    cursor: pointer;
}